@{
    Layout = null; // ou Layout = "";
}
<!doctype html>
<title>Site Maintenance</title>
<style>
    body {
        text-align: center;
        padding: 150px;
    }

    h1 {
        font-size: 50px;
    }

    body {
        font: 20px Helvetica, sans-serif;
        color: #333;
    }

    article {
        display: block;
        text-align: left;
        width: 650px;
        margin: 0 auto;
    }

    a {
        color: #dc8100;
        text-decoration: none;
    }

        a:hover {
            color: #333;
            text-decoration: none;
        }
</style>

<article>
    <h1>device not supported!</h1>
    <div>
        <p>Sorry for the inconvenience but we&rsquo;re in the process of developing an application for the smartphone either Android or IOS.<a href="mailto:#">contact us</a> <br /> otherwise you can consult our site at any time on your computer!</p>
        <p>CashCare &mdash; The Team</p>
    </div>
</article>