@using CashCare.ViewModels
@model EditMailViewModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<form method="post" asp-controller="Account" asp-action="EditMail" enctype="multipart/form-data" onsubmit="return checkIfAnyFieldEnabled()">
<div id="popup" class="popup" style="height:190px">
    <i class="fas fa-envelope" style="color:#0070ba;font-size:25px;padding-right:10px"></i>
    <label style="font-size:24px">Edit E-Mail</label>


    <br />
    <br />

    <div style="display:flex">

        <div class="form-floating" style="flex:3">
            <input asp-for="@Model.Email"  style="border: 2px solid #0070ba;" type="email" class="form-control" id="floatingInputGridDescription" placeholder="">
            <label for="floatingInputGridDescription">Your current Email</label>
        </div>

        <div style="flex:1;text-align:center">
            <b> <a href="/Account/EditAccount" style="text-decoration:none;float:right;padding-right:20px;padding-top:20px;color:#0070ba" type="button">Close</a></b>
                <button class="btn btn-link" type="submit" style="text-decoration:none;float:right;padding-right:20px;padding-top:20px;color:#0070ba;font-weight: bold;">Save</button>
        </div>

    </div>

   
    <br />


</div>
</form>
<link href="~/css/account.css" rel="stylesheet" />