<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

@using CashCare.ViewModels
@model EditPasswordVM

<form method="post" asp-controller="Account" asp-action="EditPassword" enctype="multipart/form-data">

<div id="popup" class="popup" style="height:380px;margin-top: 190px;">
    <i class="fas fa-unlock" style="color:#0070ba;font-size:25px;padding-right:10px"></i>
    <label style="font-size:24px">Edit Password</label>


    <br />
    <br />

    <div style="">

        <div class="form-floating" style="padding-bottom:20px">
            <input asp-for="@Model.CurrentPassword" style="border: 2px solid #0070ba;" type="Password" class="form-control" id="floatingInputGridDescription" placeholder="">
            <label for="floatingInputGridDescription">Current Password</label>
        </div>

        <div class="form-floating" style="padding-bottom:20px">
            <input asp-for="@Model.NewPassword" style="border: 2px solid #0070ba;" type="Password" class="form-control" id="floatingInputGridDescription" placeholder="">
            <label for="floatingInputGridDescription">New Password</label>
        </div>

        <div class="form-floating" style="padding-bottom:20px">
            <input asp-for="@Model.ConfirmPassword" style="border: 2px solid #0070ba;" type="Password" class="form-control" id="floatingInputGridDescription" placeholder="">
            <label for="floatingInputGridDescription">Repeat new Password</label>
        </div>


        <div style="flex:1;text-align:center">
            <b> <a href="/Account/EditAccount" style="text-decoration:none;float:right;padding-right:20px;padding-top:20px;color:#0070ba" type="button">Close</a></b>
                <button class="btn btn-link" type="submit" style="text-decoration:none;float:right;padding-right:20px;padding-top:20px;color:#0070ba;font-weight: bold;">Save</button>
        </div>

    </div>


    <br />


</div>
</form>
<link href="~/css/account.css" rel="stylesheet" />